html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  border: 3px solid #333;
  padding: 0.4em 0.75em 0.3em;
  text-decoration: none;
  border-radius: 8px;
  color: #fff;
  background-color: #333;
  font-size: 1.125rem;
  display: inline-block;
}

.btn-small {
  font-size: 0.875rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-subtle {
  background-color: #ccc;
  border-color: #ccc;
}

.btn-ghost {
  background-color: transparent;
  color: #333;
}

.btn-warning {
  background-color: #f33;
  border-color: #f33;
}
